body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;

	margin: 0;

	height: 100vh;

	background: black;
}


#video-container {
	width: auto;
	height: 70%;

	> video {
		height: 100%;
	}
}

#upload-container {
	> input[type="file"] {
		color: white;
	}
}